/* Header Styles */

/* Header - Main Menu */
.main-menu{
    padding: 0;
}

.main-menu ul{
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    border-radius: 0;
}

.main-menu ul li{
    display: inline;
    margin: 0 5px 0 0;
}

.main-menu ul li:last-child{
    margin: 0;
}

.main-menu .dropdown:hover>.dropdown-menu,
.main-menu .dropup:hover>.dropdown-menu  {
  display: block;
}

/* Change Bootstrap Toggle Menu Icon */

.main-menu .navbar-toggler-icon {
    background-image: url('../img/hamburger-menu.svg');
}